<footer>
    <div class="content-padding">
        <div class="footer-content">
             <p>Copyright &copy; Sanjay Singh </p>
             <div class="social-media-icons">
                <a href="#"><i class="fa fa-emprire"></i></a>
                <a href="#"><i class="fa fa-rebel"></i></a>
             </div>
        </div>
    </div> 
</footer>